@font-face {
  font-family: "peyda", sans-serif;
  src: url(/assets/fonts/farsifont/woff/peydaWeb-light.woff) format("woff"),
    url(/assets/fonts/farsifont/ttf/peyda-light.ttf) format("ttf");
}

@font-face {
  font-family: "peyda", sans-serif;
  src: url(/assets/fonts/farsifont/woff/PeydaWeb-Medium.woff) format("woff"),
    url(/assets/fonts/farsifont/ttf/Peyda-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "peyda", sans-serif;
  src: url(/assets/fonts/farsifont/woff/PeydaWeb-Regular.woff) format("woff"),
    url(/assets/fonts/farsifont/ttf/Peyda-Regular.ttf) format("ttf");
}
/* GLOBALLY */

* {
  direction: rtl;
  font-family: "peyda", sans-serif;
  transition: all 0.2s;
}

body {
  background-color: #f5f5f5;
  color: #333533;
  font-size: 18px;
  margin: 0;
}

.mobile-nav {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
}

h5 {
  margin-bottom: 5px;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 18px;
}

h6 {
  margin: 0;
}

/* CONTAINERS */

.header,
.container {
  display: flex;
  justify-content: center;
  padding: 45px 0;
}

/* HEADER */

.header {
  align-items: center;
  background-color: #333533;
  height: 376px;
}

.header .title {
  margin: 0 50px;
}

.header .title h1 {
  font-size: 50px;
  margin: 0;
  line-height: 1;
}

.header .position {
  color: #f5f5f5;
  font-size: 32px;
  margin: 40px 0;
  line-height: 1;
}

.button {
  padding: 8px 24px;
  border: 1px solid #ffd100;
  border-radius: 4px;
  text-align: center;
  color: #ffd100;
  display: inline-block;
}

.button i {
  display: inline-block;
  font-size: 18px;
  padding-right: 5px;
}

.button:hover {
  background-color: #ffd100;
  color: #333533;
}

.button:hover i {
  color: #333533;
}

.header .position i,
.button,
.button i,
.header .title h1 {
  color: #ffd100;
  vertical-align: middle;
}

.lang {
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  opacity: 0.7;
  vertical-align: middle;
  align-self: flex-start;
}

.lang i {
  padding-right: 5px;
}

.lang,
.lang i {
  color: #f5f5f5;
}

.lang:hover {
  opacity: 1;
}

.header img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
}

/* NAVBAR */

.container nav {
  width: 250px;
  font-size: 24px;
}

.container nav ul li {
  cursor: pointer;
}

.container nav li.active {
  font-weight: 500;
}

.container nav ul li .marker {
  width: 42px;
  height: 42px;
  display: inline-block;
  border: 1px solid #333533;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  margin-left: 12px;
}

.container nav ul li.active .marker,
.container nav ul li:hover .marker {
  background-color: #333533;
  color: #ffd100;
  font-size: 22px;
}

.container nav ul li:not(:last-child)::after {
  content: "";
  display: block;
  height: 48px;
  border-right: 1px dashed #333533;
  margin: 16px 21px 16px 0px;
}

/* SECTIONS */

.sections {
  width: 700px;
  border-right: 1px solid gray;
  padding-right: 50px;
}

.sections section:last-child {
  width: 880px;
}

.contact {
  display: flex;
}
.contact div {
  width: 50%;
}

.contact p {
  margin-top: 0;
}

.contact p i {
  color: #a0a0a0;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.contact p i:hover {
  color: #333533;
}

.social-media li {
  display: inline-block;
  margin-left: 1.5rem;
}

.social-media li:last-child {
  margin: 0;
}

.social-media li span {
  display: block;
  width: 56px;
  height: 56px;
}

.social-media li span.linkedin {
  background-image: url(../icon/social/linkedin.png);
}

.social-media li span.linkedin:hover {
  background-image: url(../icon/social/linkedin-hover.png);
}

.social-media li span.github {
  background-image: url(../icon/social/github.png);
}

.social-media li span.github:hover {
  background-image: url(../icon/social/github-hover.png);
}

.social-media li span.stackoverflow {
  background-image: url(../icon/social/stackoverflow.png);
}

.social-media li span.stackoverflow:hover {
  background-image: url(../icon/social/stackoverflow-hover.png);
}

.social-media li span.twitter {
  background-image: url(../icon/social/twitter.png);
}

.social-media li span.twitter:hover {
  background-image: url(../icon/social/twitter-hover.png);
}

.social-media li span.telegram {
  background-image: url(../icon/social/telegram.png);
}

.social-media li span.telegram:hover {
  background-image: url(../icon/social/telegram-hover.png);
}

.social-media li span.whatsapp {
  background-image: url(../icon/social/whatsapp.png);
}

.social-media li span.whatsapp:hover {
  background-image: url(../icon/social/whatsapp-hover.png);
}

.social-media li span.instagram {
  background-image: url(../icon/social/instagram.png);
}

.social-media li span.instagram:hover {
  background-image: url(../icon/social/instagram-hover.png);
}

.Skills li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 5px 5px;
  align-items: center;
  vertical-align: middle;
}

.Skills li img {
  vertical-align: middle;
  margin: 0 8px 0 10px;
}

.Skills .title {
  font-weight: 500;
}

.Skills li i {
  padding: 10px 12px;
  border-right: 2px solid #a0a0a0;
  vertical-align: middle;
}

.other-skill li {
  display: inline-block;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  padding: 4px 16px;
  margin: 0 16px 18px 0;
}

.project {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
  padding: 11px;
}

.project .title {
  font-weight: 500;
  font-size: 20px;
}

.project .description {
  font-size: 14px;
}

.tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.tech ul li {
  display: inline-block;
}

.tech ul li img {
  width: 25px;
}

.project .buttons {
  display: flex;
}

.project .buttons a {
  width: 50%;
  color: #333533;
  text-align: center;
  font-size: 13px;
  padding: 4px 8px;
  border: 1px solid transparent;
  vertical-align: middle;
}

.project .buttons a:first-child,
.project .buttons a:last-child:hover {
  border: 1px solid #333533;
  border-radius: 4px;
}

.project .buttons a:first-child:hover {
  color: #f5f5f5;
  background-color: #333533;
}

.project .buttons a:last-child {
  margin-right: 3px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project:not(:last-child) {
  margin-left: 20px;
}

.project {
  margin-bottom: 36px;
}

.project .buttons a i {
  margin-right: 5px;
}

/* RESPONSIVE OUR WEBSITE */
@media only screen and (max-width: 992px) {
  .project:not(:last-child) {
    margin-left: 0px;
  }

  .lang {
    padding-right: 5px;
    align-self: flex-end;
  }
}

@media only screen and (max-width: 992px) {
}
